body {
    color: #006300;
    background-color: rgb(64, 13, 88);
   height: 100vh;
   display: grid;
   place-items: center;
}

.col-s6 #title {
    display: block;
    align-items: center;
    justify-content: center;
}


#movieTitle {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Modal overlay styles */
.container #errorModal {
    display: none;
    background-color: aliceblue;
    font-weight: 400px;
    align-items: center;
    justify-content: center;
}

#errorModal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal content styles */
#errorModal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Close button styles */
#errorModal-content button {
    background-color: #e91e63; /* Pink color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.button {
    color: white;
}

.center {
    margin: auto;
    width: 50%
}

.container .p {
    text-size-adjust: 100px;
    text-align: justify;
    text-align: center;
    display: flex;
}

img{
    width: 200px;
    height: auto;
}


input {
    display: block;
    width: 50vw;
    padding: 0 1.25rem;    
}

.row {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0 1.25rem; 
    padding: 0 2rem;
    padding-top: 50px;
}


.col {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1.25rem;
    padding: 0 2rem;
    padding-top: 50px;
}

.movie-rec {
    align-items: row;
    display: flex;
    justify-content: space-between;
}

.nowplaying {
    padding: 25px;
}

.nowplaying #Argylle {
    padding: 22px;
}

.nowplaying #Wonka {
    padding: 20px;
}

.nowplaying #Marvels {
    padding: 20px;
}

.comingsoon {
    padding: 25px;
    align-items: right;

}

.comingsoon #Bob {
    padding: 10px;
}

.comingsoon #Frankenstein {
    padding: 10px;
    margin-top: 70px;
    height: auto;
}

.comingsoon #Dunetwo {
    padding: 15px;
    margin-top: auto;
}

.oscarmovieposter {
    padding: 25px;
    align-items: right;

}

.oscarmovieposter #Spiderverse {
    padding: 10px;
}

.oscarmovieposter #Oppenheimer {
    padding: 10px;
}

.oscarmovieposter #Barbie {
    padding: 15px;
    margin-top: 15px;
}
